@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

*{
     font-family: "Zalando Sans Expanded", sans-serif;
}
:root{
    --bg-button-color:#238636;
}
body{
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    color: #fff;
}


h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.flex{
    display: flex;
}
.block{
    display: block;
}
.around{
    justify-content: space-around;
}
.center{
    justify-content: center;
}
.medel{
   align-items: center;
}
.githublogo{
    height: 30px;
    padding-right: 5px;
}
.nav{
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #353535;
    padding: 8px;
}
.logoBox{
    background-color: #00000074;
    border-radius: 10px;
    padding: 10px;
    opacity: 0.8;
}
.btn{
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--bg-button-color);
    color: #fff;
}
.big-x{
    font-size: 16px;
    padding-right: 5px;
}