@import "devicon/devicon.min.css";


* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

:root {
    --bg-button-color: #238636;
    --body-color: #000000f8;
    --l-color: #2c2c2c;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--body-color);
    color: #888888;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.around {
    justify-content: space-around;
}

.center {
    justify-content: center;
}

.medel {
    align-items: center;
}

.beet {
    justify-content: space-between;
}

.githublogo {
    height: 30px;
    padding-right: 5px;
}

.nav {
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--body-color);
    padding: 8px;
    border-bottom: 1px solid var(--bg-button-color);
    box-shadow: 0 4px 8px 0 rgba(68, 68, 68, 0.2), 0 6px 20px 0 rgba(132, 132, 132, 0.19);
    z-index: 100;
}

.logoBox {
    background-color: #00000074;
    border-radius: 10px;
    padding: 10px;
    opacity: 0.8;
}

.btn {
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    color: #dddddd;
}

.big-x {
    font-size: 15px;
}

.big-xxl {
    font-size: 20px;
    padding-right: 10px;
}

.left-space {
    padding-left: 5px;
}

.navbtn {
    text-decoration: none;
    color: #dddddd;
    font-weight: 600;
    transition: all 0.3s ease;
    margin: 0 5px;
}

.noactive {
    border: 1px solid var(--l-color);
    background-color: transparent;
}

.active {
    border: 1px solid var(--bg-button-color);
    background-color: var(--bg-button-color);
}

.navbtn:hover {
    border: 1px solid var(--bg-button-color);
}

@keyframes openPopup {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }

}

@keyframes closePopup {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.5);
        opacity: 0;
    }

}

.cercel {
    border-radius: 1000px;
}

.border {
    border: 5px solid var(--bg-button-color);
    padding: 5px;

}

.userimg {
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: 10px;
}

.left {
    justify-content: left;
    display: flex;
}

.title {
    text-transform: uppercase;
    font-weight: 650;
    text-align: center;
    color: #888888;
    border-bottom: 1px solid #2e2e2e;
    padding: 10px;
    border-radius: 3px;
}

a {
    color: #383838;
}

.fb-bg-cover-pto-system {
    height: auto;
    width: 100%;
    background-color: #000;
    border-radius: 10px;
    padding: 10%;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(45deg, #180026, #000);
}

.infoGlass {
    height: auto;
    width: auto;
    background-color: #80808007;
    padding: 5%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    animation: openPopup 0.3s ease;
    border: 1px solid var(--l-color);
}

.desktop-wrap,
.wrap {
    flex-wrap: wrap;
}

.w100 {
    width: 100%;
}

.darkBox {
    height: 100vh;
    width: 100%;
    background-color: #00000062;
    position: fixed;
    top: 0;
    left: 0;
}

.loader {
    width: 50px;
    height: 50px;
    aspect-ratio: 1;
    display: grid;
    background-color: #4d4d4d;
    padding: 10px;
    border-radius: 10px;
    transform: rotateZ(45deg);
}

.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    --c: no-repeat radial-gradient(farthest-side, #238636 92%, #0000);
    background:
        var(--c) 50% 0,
        var(--c) 50% 100%,
        var(--c) 100% 50%,
        var(--c) 0 50%;
    background-size: 12px 12px;
    animation: l12 1s infinite;
}

.loader::before {
    margin: 4px;
    filter: hue-rotate(45deg);
    background-size: 8px 8px;
    animation-timing-function: linear
}

@keyframes l12 {
    100% {
        transform: rotate(.5turn)
    }
}

.fa-bug {
    font-size: 50px;
}

.textCenter {
    text-align: center;
}

.point {
    background-color: #303030;
    font-size: 13px;
    padding: 3px;
    border-radius: 5px;
    color: #fff;
}

.wS {
    width: 100%;
}

.fillSet {
    margin: 9px;
    padding: 10px;
}

.followImg {
    height: 50px;
}

.space {
    padding-left: 20px;
}

.pointer {
    cursor: pointer;
}

.subTitle {
    color: #36a2fa;
    font-size: 1.7rem;
    font-weight: bold;
    word-break: break-all;
}

.mark {
    border: 1px solid var(--l-color);
    font-size: 13px;
    padding: 2px;
    height: 15px;
    padding: 4px;
    border-radius: 10px;
    padding-left: 9px;
    padding-right: 8px;
    margin-left: 10px;
    margin: 3px;
}

.wHaf {
    width: 50%;
}

.socalIcon {
    font-size: 20px;
}

.telegram:hover {
    background-color: #36a2fa;
}

.facebook:hover {
    background-color: #0866ff;
}

.linkedin:hover {
    background-color: #0A66c2;
}

.wa:hover {
    background-color: #25D366;
}

.snapchat:hover {
    background-color: #fffc00;
    color: #000;
}
.x:hover{
    background-color: #000;
    border: 1px solid #000;
}

.column {

    flex-direction: column;

}
.px{
    padding-right: 7px;
}






/* Responsive Design */


/* Desktop Version */
.desktop-show {
    display: block;
}

.desktop-show-flex {
    display: flex;
}

/* Mobile Version */
.mobile-show {
    display: none;
}

/* Responsive Design */
.response-container {
    display: flex;
    width: 100%;
    background-color: transparent;
    justify-content: center;
}

.response-box {
    width: 80%;
    background-color: transparent;
}

/* use for mobile css */
@media only screen and (max-width: 768px) {
    .wHaf {
        width: 100%;
    }

    .response-container {
        width: 100%;
    }

    .response-box {
        width: 100%;
        background-color: transparent;
    }

    /* Desktop Version */
    .desktop-show,
    .desktop-show-flex {
        display: none;
    }

    /* Mobile Version */
    .mobile-show {
        display: block;
    }

    .sidemenu-show-in-mobile {
        height: auto;
        display: block;
        position: fixed;
        right: 10px;
        background-color: transparent;
        width: 60%;
        border: 1px solid var(--l-color);
        border-radius: 10px;
        padding: 10px;
        backdrop-filter: blur(10px);
        animation: openPopup 0.3s ease;
        top: 68px;
    }


    .sidemenu-show-in-mobile .navbtn {
        width: 70%;
        text-align: left;
        display: block;
        margin: 10px auto;
    }

    .mobileCenter {
        display: flex;
        justify-content: center;
    }

    .mobile-column {
        flex-direction: column;
    }
}





/* test */

.test {
    background-color: red;
}



@media only screen and (min-width: 768px) {
    .left-space {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-20px);
        width: 0;
        overflow: hidden;
        transition: all 0.4s ease;
    }

    .navbtn:hover .left-space {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        width: 100px;
    }


    .sizeppo {
        width: 100%;
    }
}